* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'RocknRoll One', sans-serif;

    body {
        width: 100vw;
        text-align: center;
        display: grid;
        grid-template-rows: 40vh 10vh 100vh auto auto 35vh auto;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "nav"
            "bali"
            "populaires"
            "partenair"
            "partenairicone"
            "footer"
        ;

        header {
            background-image: linear-gradient(rgba(43, 128, 185, 0.4), rgba(242, 247, 186, 0.5)), url("./images/beach.jpg");
            grid-area: header;
            background-position: center;
            background-size: cover;
            grid-template-rows: 1fr auto 1fr;
            display: grid;

            #centre {
                grid-row-start: 2;
            }

            .far {
                font-size: 2em;
            }
        }

        nav {
            color: #2b80b9;
            grid-area: nav;
            display: grid;
            background-color: #f2f8ba;

            #hamburger {
                display: none;
                margin-left: 10px;
            }

            #navbarTitle {
                display: none;
            }

            #navigationLinks {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
            }

            a {
                text-decoration: none;
                color: #2b80b9;
            }
        }

        .btn {
            background: #f2f8ba;
            border: 2px solid white;
            color: #2d7eb8;
            border-radius: 5px;
            font-size: 1.2em;
            height: 2em;
            transition: all 1s;
            margin: 10px;

        }

        .btn:hover {
            background: #2d7eb8;
            color: #f2f8ba;
            transition: all 1s;

        }

        .txtbleu {
            color: #2d7eb8;
        }

        .txtblanc {
            color: white;
        }

        .txtnoire {
            color: black;
            width: 50vw;
            margin: auto;
        }

        .roundIMG {
            border-radius: 50%;
            width: 20%;
        }

        h2:after {
            display: block;
            height: 2px;
            background-color: #f2f8ba;
            width: 200px;
            content: " ";
            margin: 0 auto;
            margin-top: 10px;
        }

        .fas {
            font-size: 2em;
            padding-top: 30px;
        }

        #bali {
            grid-area: bali;
            background-image: linear-gradient(rgba(242, 247, 186, 0.0), rgba(43, 128, 185, 0.4)), url("./images/bali.jpg");
            width: 100vw;
            height: 100vh;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            color: white;
            display: grid;
            grid-template-columns: 1fr auto 10fr;
            grid-template-rows: 8fr auto 1fr;

            #flex {
                display: flex;
                align-self: center;
                justify-content: center;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            #bloquebali {
                background-color: #2d7eb8;
                border-radius: 25px;
                height: auto;
                width: 20vw;
                grid-column-start: 2;
                grid-row-start: 2;

            }
        }

        #populaires {
            grid-area: populaires;
            display: grid;
            grid-template-columns: 1fr 2fr;

            #gauche {
                grid-column-start: 1;
                background-color: #2b80b9;
                display: grid;
                grid-template-columns: 1fr auto 1fr;
                grid-template-rows: 150px 1fr 1fr 1fr 1fr 1fr 100px;

                .c2 {
                    grid-column-start: 2;

                }

                .bloquePopulaire {
                    border: 2px solid #f2f8ba;
                    border-radius: 25px;
                    box-shadow: 2px 4px 5px #f2f8ba;
                    width: 25vw;
                    height: auto;
                    grid-column-start: 2;
                    display: grid;
                    grid-template-columns: 1fr 4fr 1fr;
                    margin-top: 10px;
                    margin-bottom: 10px;

                    .poseC2 {
                        grid-column-start: 2;

                        .flex {
                            .fa-star {
                                font-size: 1em;
                            }

                            font-size: 0.7em;
                            display: flex;
                            align-items: center;
                            text-align: center;
                        }
                    }

                    .img {
                        width: 15vw;
                        height: 20vh;
                        border: 3px solid white;
                        filter: grayscale(40%);
                        transition: all 0.5s;
                    }

                    .img:hover {
                        filter: grayscale(0%);
                        transition: all 0.5s;
                    }
                }
            }

            #droite {
                grid-column-start: 2;
                background-color: white;

                p {
                    padding: 20px;
                }

                h2 {
                    padding-top: 10px;
                }

                .boxArticl {
                    padding-top: 10px;

                    #dernier_A {
                        display: grid;
                        grid-template-columns: 3fr 3fr 1fr 3fr 1fr 3fr 3fr;

                        #article1 {
                            grid-column-start: 2;
                        }

                        #article2 {
                            grid-column-start: 4;
                        }

                        #article3 {
                            grid-column-start: 6;
                        }

                        img {
                            width: 15vw;
                            height: auto;
                            filter: grayscale(30%);
                            transition: all 0.5s;
                        }

                        img:hover {
                            filter: grayscale(0%);
                            transition: all 0.5s;
                        }
                    }

                    .roundIMG {
                        width: 2.5em;
                    }

                    .gridarticle {
                        grid-template-columns: 2fr 3fr 2fr;

                        .articleImg {
                            grid-column-start: 2;
                            height: auto;
                            width: 40vw;
                            border: 3px solid #f2f8ba;
                            filter: grayscale(40%);
                            transition: all 0.5s;
                        }

                        .articleImg:hover {
                            filter: grayscale(0%);
                            transition: all 0.5s;
                        }
                    }
                }

                .boxArticl::after {
                    display: block;
                    height: 2px;
                    background-color: #2d7eb8;
                    width: 50vw;
                    content: " ";
                    margin: 0 auto;
                }

                padding-bottom: 3px;
            }
        }

        #partenair {
            grid-area: partenair;
            background-image: linear-gradient(rgba(43, 128, 185, 0), rgba(242, 247, 186, 0.8)), url("./images/plane.jpg");
            width: 100vw;
            height: 100vh;
            background-position: center;
            background-size: cover;
        }

        #partenairicone {
            grid-area: partenairicone;

            padding-top: 10px;
            display: grid;
            grid-template-columns: 1fr 3fr 1fr 3fr 1fr 3fr 1fr;
            background-color: #2b80b9;
            color: white;
            text-align: center;

            .taileimg {
                width: 12em;
                height: auto;
                transition: transform .2s;
            }

            .taileimg:hover {
                transform: scale(1.1);


            }

            #Airlines {
                grid-column-start: 2;
            }

            #Company {
                grid-column-start: 4;
            }

            #Masters {
                grid-column-start: 6;
            }
        }

        footer {
            grid-area: footer;
            background-color: #f2f8ba;
            text-align: center;
            height: 10vh;
            display: grid;
            grid-template-rows: 1fr auto auto 1fr;

            #textfooter {
                grid-row-start: 2;
            }

            #texticon {
                grid-row-start: 3;
                font-size: 2em;

            }

            .fab {
                transition: all 0.5s;
            }

            .fab:hover {
                font-size: 111%;
                color: white;
                transition: all 0.5s;

            }
        }
    }
}

//*****************************************************************************
// media
//*****************************************************************************************

@media screen and (max-width: 991px) {
    body {
        nav {
            position: fixed;
            width: 100vw;
            z-index: 10;
            display: flex;
            flex-direction: column;
            top: 0;
            left: 0;
            right: 0;
            background-color: #f2f7ba;
            opacity: 90%;

            #hamburgerAndTitle {
                display: flex;
                justify-content: center;
                align-items: center;

                #hamburger {
                    color: #2b80b9;
                    display: block;
                    text-align: left;
                    margin: 20px 20px;
                }

                #navbarTitle {
                    display: block;
                    margin: 20px 40px;
                }

                h2 {
                    margin: 0 auto;
                    margin-top: 23px;
                }
            }

            #navigationLinks {
                padding-bottom: 20px;
            }
        }

        .roundIMG {
            width: 10%;
        }


    }
}

//****************************************************************************************************
// tablette
//***************************************************************************************************************

@media screen and (min-width:768px) and (max-width:991px) {
    body {
        grid-template-rows: 40vh 0vh 100vh auto auto 35vh auto;

        #bali {
            grid-template-columns: 1fr auto 6fr;
            grid-template-rows: 1fr auto 1fr;

            #bloquebali {
                height: auto;
                width: 20vw;
                grid-column-start: 2;
                grid-row-start: 2;

            }
        }

        #populaires {

            grid-template-columns: 1fr 1fr;

            #gauche {
                grid-column-start: 1;

                .bloquePopulaire {
                    text-align: center;
                    width: 45vw;

                    .img {
                        width: 30vw;
                        height: auto;
                    }
                }
            }

            #droite {
                grid-column-start: 2;

                .boxArticl {

                    #dernier_A {
                        display: grid;
                        grid-template-columns: 1fr 2fr 1fr;

                        #article1 {
                            grid-column-start: 2;

                        }

                        #article2 {
                            grid-column-start: 2;
                        }

                        #article3 {
                            grid-column-start: 2;
                        }

                        img {
                            width: 25vw;
                            margin-bottom: 10px;
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }
                }
            }
        }
    }
}

//****************************************************************************************************
// tél
//***************************************************************************************************************

@media screen and (max-width:767px) {
    body {
        grid-template-rows: 40vh 0vh 100vh auto 50vh 90vh auto;
        .txtnoire {
            color: black;
            width: 70vw;
            margin: auto;
        }
        nav {
            #navigationLinks {
                display: flex;
                flex-direction: column;
            }
        }

        #bali {
            grid-template-columns: 1fr auto 1fr;
            grid-template-rows: 1fr auto 1fr;

            #bloquebali {
                height: auto;
                width: 50vw;
                grid-column-start: 2;
                grid-row-start: 2;

            }
        }

        #populaires {

            grid-template-columns: 1fr;

            #gauche {
                grid-column: 1;
                grid-row-start: 2;

                .bloquePopulaire {
                    text-align: center;
                    width: 80vw;

                    .img {
                        width: 50vw;
                        height: auto;
                    }
                }
            }

            #droite {
                grid-column: 1;
                grid-row-start: 1;

                .boxArticl {

                    #dernier_A {
                        display: grid;
                        grid-template-columns: 1fr 2fr 1fr;

                        #article1 {
                            grid-column-start: 2;

                        }

                        #article2 {
                            grid-column-start: 2;
                        }

                        #article3 {
                            grid-column-start: 2;
                        }

                        img {
                            width: 60vw;
                            margin-bottom: 10px;
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }

                    .gridarticle {
                        grid-template-columns: 1fr 8fr 1fr;

                        .articleImg {
                            width: 60vw;
                        }
                    }
                }
            }
        }
        #partenairicone {
            grid-area: partenairicone;
            padding-top: 10px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
            #Airlines {
                grid-column-start: 1;
                height: auto;
            }

            #Company {
                grid-column-start: 1;
            }

            #Masters {
                grid-column-start: 1;
            }
        }
    }
}
/*
 	

                             ...----....
                         ..-:"''         ''"-..
                      .-'                      '-.
                    .'              .     .       '.
                  .'   .          .    .      .    .''.
                .'  .    .       .   .   .     .   . ..:.
              .' .   . .  .       .   .   ..  .   . ....::.
             ..   .   .      .  .    .     .  ..  . ....:IA.
            .:  .   .    .    .  .  .    .. .  .. .. ....:IA.
           .: .   .   ..   .    .     . . .. . ... ....:.:VHA.
           '..  .  .. .   .       .  . .. . .. . .....:.::IHHB.
          .:. .  . .  . .   .  .  . . . ...:.:... .......:HIHMM.
         .:.... .   . ."::"'.. .   .  . .:.:.:II;,. .. ..:IHIMMA
         ':.:..  ..::IHHHHHI::. . .  ...:.::::.,,,. . ....VIMMHM
        .:::I. .AHHHHHHHHHHAI::. .:...,:IIHHHHHHMMMHHL:. . VMMMM
       .:.:V.:IVHHHHHHHMHMHHH::..:" .:HIHHHHHHHHHHHHHMHHA. .VMMM.
       :..V.:IVHHHHHMMHHHHHHHB... . .:VPHHMHHHMMHHHHHHHHHAI.:VMMI
       ::V..:VIHHHHHHMMMHHHHHH. .   .I":IIMHHMMHHHHHHHHHHHAPI:WMM
       ::". .:.HHHHHHHHMMHHHHHI.  . .:..I:MHMMHHHHHHHHHMHV:':H:WM
       :: . :.::IIHHHHHHMMHHHHV  .ABA.:.:IMHMHMMMHMHHHHV:'. .IHWW
       '.  ..:..:.:IHHHHHMMHV" .AVMHMA.:.'VHMMMMHHHHHV:' .  :IHWV
        :.  .:...:".:.:TPP"   .AVMMHMMA.:. "VMMHHHP.:... .. :IVAI
       .:.   '... .:"'   .   ..HMMMHMMMA::. ."VHHI:::....  .:IHW'
       ...  .  . ..:IIPPIH: ..HMMMI.MMMV:I:.  .:ILLH:.. ...:I:IM
     : .   .'"' .:.V". .. .  :HMMM:IMMMI::I. ..:HHIIPPHI::'.P:HM.
     :.  .  .  .. ..:.. .    :AMMM IMMMM..:...:IV":T::I::.".:IHIMA
     'V:.. .. . .. .  .  .   'VMMV..VMMV :....:V:.:..:....::IHHHMH
       "IHH:.II:.. .:. .  . . . " :HB"" . . ..PI:.::.:::..:IHHMMV"
        :IP""HHII:.  .  .    . . .'V:. . . ..:IH:.:.::IHIHHMMMMM"
        :V:. VIMA:I..  .     .  . .. . .  .:.I:I:..:IHHHHMMHHMMM
        :"VI:.VWMA::. .:      .   .. .:. ..:.I::.:IVHHHMMMHMMMMI
        :."VIIHHMMA:.  .   .   .:  .:.. . .:.II:I:AMMMMMMHMMMMMI
        :..VIHIHMMMI...::.,:.,:!"I:!"I!"I!"V:AI:VAMMMMMMHMMMMMM'
        ':.:HIHIMHHA:"!!"I.:AXXXVVXXXXXXXA:."HPHIMMMMHHMHMMMMMV
          V:H:I:MA:W'I :AXXXIXII:IIIISSSSSSXXA.I.VMMMHMHMMMMMM
            'I::IVA ASSSSXSSSSBBSBMBSSSSSSBBMMMBS.VVMMHIMM'"'
             I:: VPAIMSSSSSSSSSBSSSMMBSSSBBMMMMXXI:MMHIMMI
            .I::. "H:XIIXBBMMMMMMMMMMMMMMMMMBXIXXMMPHIIMM'
            :::I.  ':XSSXXIIIIXSSBMBSSXXXIIIXXSMMAMI:.IMM
            :::I:.  .VSSSSSISISISSSBII:ISSSSBMMB:MI:..:MM
            ::.I:.  ':"SSSSSSSISISSXIIXSSSSBMMB:AHI:..MMM.
            ::.I:. . ..:"BBSSSSSSSSSSSSBBBMMMB:AHHI::.HMMI
            :..::.  . ..::":BBBBBSSBBBMMMB:MMMMHHII::IHHMI
            ':.I:... ....:IHHHHHMMMMMMMMMMMMMMMHHIIIIHMMV"
              "V:. ..:...:.IHHHMMMMMMMMMMMMMMMMHHHMHHMHP'
               ':. .:::.:.::III::IHHHHMMMMMHMHMMHHHHM"
                 "::....::.:::..:..::IIIIIHHHHMMMHHMV"
                   "::.::.. .. .  ...:::IIHHMMMMHMV"
                     "V::... . .I::IHHMMV"'
                       '"VHVHHHAHHHHMMV:"'

*/