* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'RocknRoll One', sans-serif;
}

* body {
  width: 100vw;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40vh 10vh 100vh auto auto 35vh auto;
      grid-template-rows: 40vh 10vh 100vh auto auto 35vh auto;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "header" "nav" "bali" "populaires" "partenair" "partenairicone" "footer";
}

* body header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 128, 185, 0.4)), to(rgba(242, 247, 186, 0.5))), url("./images/beach.jpg");
  background-image: linear-gradient(rgba(43, 128, 185, 0.4), rgba(242, 247, 186, 0.5)), url("./images/beach.jpg");
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  background-position: center;
  background-size: cover;
  -ms-grid-rows: 1fr auto 1fr;
      grid-template-rows: 1fr auto 1fr;
  display: -ms-grid;
  display: grid;
}

* body header #centre {
  -ms-grid-row: 2;
      grid-row-start: 2;
}

* body header .far {
  font-size: 2em;
}

* body nav {
  color: #2b80b9;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
  display: -ms-grid;
  display: grid;
  background-color: #f2f8ba;
}

* body nav #hamburger {
  display: none;
  margin-left: 10px;
}

* body nav #navbarTitle {
  display: none;
}

* body nav #navigationLinks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

* body nav a {
  text-decoration: none;
  color: #2b80b9;
}

* body .btn {
  background: #f2f8ba;
  border: 2px solid white;
  color: #2d7eb8;
  border-radius: 5px;
  font-size: 1.2em;
  height: 2em;
  -webkit-transition: all 1s;
  transition: all 1s;
  margin: 10px;
}

* body .btn:hover {
  background: #2d7eb8;
  color: #f2f8ba;
  -webkit-transition: all 1s;
  transition: all 1s;
}

* body .txtbleu {
  color: #2d7eb8;
}

* body .txtblanc {
  color: white;
}

* body .txtnoire {
  color: black;
  width: 50vw;
  margin: auto;
}

* body .roundIMG {
  border-radius: 50%;
  width: 20%;
}

* body h2:after {
  display: block;
  height: 2px;
  background-color: #f2f8ba;
  width: 200px;
  content: " ";
  margin: 0 auto;
  margin-top: 10px;
}

* body .fas {
  font-size: 2em;
  padding-top: 30px;
}

* body #bali {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: bali;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(242, 247, 186, 0)), to(rgba(43, 128, 185, 0.4))), url("./images/bali.jpg");
  background-image: linear-gradient(rgba(242, 247, 186, 0), rgba(43, 128, 185, 0.4)), url("./images/bali.jpg");
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto 10fr;
      grid-template-columns: 1fr auto 10fr;
  -ms-grid-rows: 8fr auto 1fr;
      grid-template-rows: 8fr auto 1fr;
}

* body #bali #flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

* body #bali #bloquebali {
  background-color: #2d7eb8;
  border-radius: 25px;
  height: auto;
  width: 20vw;
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

* body #populaires {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: populaires;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

* body #populaires #gauche {
  -ms-grid-column: 1;
      grid-column-start: 1;
  background-color: #2b80b9;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto 1fr;
      grid-template-columns: 1fr auto 1fr;
  -ms-grid-rows: 150px 1fr 1fr 1fr 1fr 1fr 100px;
      grid-template-rows: 150px 1fr 1fr 1fr 1fr 1fr 100px;
}

* body #populaires #gauche .c2 {
  -ms-grid-column: 2;
      grid-column-start: 2;
}

* body #populaires #gauche .bloquePopulaire {
  border: 2px solid #f2f8ba;
  border-radius: 25px;
  -webkit-box-shadow: 2px 4px 5px #f2f8ba;
          box-shadow: 2px 4px 5px #f2f8ba;
  width: 25vw;
  height: auto;
  -ms-grid-column: 2;
      grid-column-start: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr 1fr;
      grid-template-columns: 1fr 4fr 1fr;
  margin-top: 10px;
  margin-bottom: 10px;
}

* body #populaires #gauche .bloquePopulaire .poseC2 {
  -ms-grid-column: 2;
      grid-column-start: 2;
}

* body #populaires #gauche .bloquePopulaire .poseC2 .flex {
  font-size: 0.7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

* body #populaires #gauche .bloquePopulaire .poseC2 .flex .fa-star {
  font-size: 1em;
}

* body #populaires #gauche .bloquePopulaire .img {
  width: 15vw;
  height: 20vh;
  border: 3px solid white;
  -webkit-filter: grayscale(40%);
          filter: grayscale(40%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

* body #populaires #gauche .bloquePopulaire .img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

* body #populaires #droite {
  -ms-grid-column: 2;
      grid-column-start: 2;
  background-color: white;
  padding-bottom: 3px;
}

* body #populaires #droite p {
  padding: 20px;
}

* body #populaires #droite h2 {
  padding-top: 10px;
}

* body #populaires #droite .boxArticl {
  padding-top: 10px;
}

* body #populaires #droite .boxArticl #dernier_A {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 3fr 1fr 3fr 1fr 3fr 3fr;
      grid-template-columns: 3fr 3fr 1fr 3fr 1fr 3fr 3fr;
}

* body #populaires #droite .boxArticl #dernier_A #article1 {
  -ms-grid-column: 2;
      grid-column-start: 2;
}

* body #populaires #droite .boxArticl #dernier_A #article2 {
  -ms-grid-column: 4;
      grid-column-start: 4;
}

* body #populaires #droite .boxArticl #dernier_A #article3 {
  -ms-grid-column: 6;
      grid-column-start: 6;
}

* body #populaires #droite .boxArticl #dernier_A img {
  width: 15vw;
  height: auto;
  -webkit-filter: grayscale(30%);
          filter: grayscale(30%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

* body #populaires #droite .boxArticl #dernier_A img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

* body #populaires #droite .boxArticl .roundIMG {
  width: 2.5em;
}

* body #populaires #droite .boxArticl .gridarticle {
  -ms-grid-columns: 2fr 3fr 2fr;
      grid-template-columns: 2fr 3fr 2fr;
}

* body #populaires #droite .boxArticl .gridarticle .articleImg {
  -ms-grid-column: 2;
      grid-column-start: 2;
  height: auto;
  width: 40vw;
  border: 3px solid #f2f8ba;
  -webkit-filter: grayscale(40%);
          filter: grayscale(40%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

* body #populaires #droite .boxArticl .gridarticle .articleImg:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

* body #populaires #droite .boxArticl::after {
  display: block;
  height: 2px;
  background-color: #2d7eb8;
  width: 50vw;
  content: " ";
  margin: 0 auto;
}

* body #partenair {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: partenair;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 128, 185, 0)), to(rgba(242, 247, 186, 0.8))), url("./images/plane.jpg");
  background-image: linear-gradient(rgba(43, 128, 185, 0), rgba(242, 247, 186, 0.8)), url("./images/plane.jpg");
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

* body #partenairicone {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: partenairicone;
  padding-top: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr 3fr 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr 3fr 1fr 3fr 1fr;
  background-color: #2b80b9;
  color: white;
  text-align: center;
}

* body #partenairicone .taileimg {
  width: 12em;
  height: auto;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

* body #partenairicone .taileimg:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

* body #partenairicone #Airlines {
  -ms-grid-column: 2;
      grid-column-start: 2;
}

* body #partenairicone #Company {
  -ms-grid-column: 4;
      grid-column-start: 4;
}

* body #partenairicone #Masters {
  -ms-grid-column: 6;
      grid-column-start: 6;
}

* body footer {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: footer;
  background-color: #f2f8ba;
  text-align: center;
  height: 10vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto auto 1fr;
      grid-template-rows: 1fr auto auto 1fr;
}

* body footer #textfooter {
  -ms-grid-row: 2;
      grid-row-start: 2;
}

* body footer #texticon {
  -ms-grid-row: 3;
      grid-row-start: 3;
  font-size: 2em;
}

* body footer .fab {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

* body footer .fab:hover {
  font-size: 111%;
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media screen and (max-width: 991px) {
  body nav {
    position: fixed;
    width: 100vw;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f2f7ba;
    opacity: 90%;
  }
  body nav #hamburgerAndTitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body nav #hamburgerAndTitle #hamburger {
    color: #2b80b9;
    display: block;
    text-align: left;
    margin: 20px 20px;
  }
  body nav #hamburgerAndTitle #navbarTitle {
    display: block;
    margin: 20px 40px;
  }
  body nav #hamburgerAndTitle h2 {
    margin: 0 auto;
    margin-top: 23px;
  }
  body nav #navigationLinks {
    padding-bottom: 20px;
  }
  body .roundIMG {
    width: 10%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  body {
    -ms-grid-rows: 40vh 0vh 100vh auto auto 35vh auto;
        grid-template-rows: 40vh 0vh 100vh auto auto 35vh auto;
  }
  body #bali {
    -ms-grid-columns: 1fr auto 6fr;
        grid-template-columns: 1fr auto 6fr;
    -ms-grid-rows: 1fr auto 1fr;
        grid-template-rows: 1fr auto 1fr;
  }
  body #bali #bloquebali {
    height: auto;
    width: 20vw;
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
  body #populaires {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  body #populaires #gauche {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  body #populaires #gauche .bloquePopulaire {
    text-align: center;
    width: 45vw;
  }
  body #populaires #gauche .bloquePopulaire .img {
    width: 30vw;
    height: auto;
  }
  body #populaires #droite {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
  body #populaires #droite .boxArticl #dernier_A {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr 1fr;
        grid-template-columns: 1fr 2fr 1fr;
  }
  body #populaires #droite .boxArticl #dernier_A #article1 {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
  body #populaires #droite .boxArticl #dernier_A #article2 {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
  body #populaires #droite .boxArticl #dernier_A #article3 {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
  body #populaires #droite .boxArticl #dernier_A img {
    width: 25vw;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  body {
    -ms-grid-rows: 40vh 0vh 100vh auto 50vh 90vh auto;
        grid-template-rows: 40vh 0vh 100vh auto 50vh 90vh auto;
  }
  body .txtnoire {
    color: black;
    width: 70vw;
    margin: auto;
  }
  body nav #navigationLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body #bali {
    -ms-grid-columns: 1fr auto 1fr;
        grid-template-columns: 1fr auto 1fr;
    -ms-grid-rows: 1fr auto 1fr;
        grid-template-rows: 1fr auto 1fr;
  }
  body #bali #bloquebali {
    height: auto;
    width: 50vw;
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
  body #populaires {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  body #populaires #gauche {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
  body #populaires #gauche .bloquePopulaire {
    text-align: center;
    width: 80vw;
  }
  body #populaires #gauche .bloquePopulaire .img {
    width: 50vw;
    height: auto;
  }
  body #populaires #droite {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
  body #populaires #droite .boxArticl #dernier_A {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr 1fr;
        grid-template-columns: 1fr 2fr 1fr;
  }
  body #populaires #droite .boxArticl #dernier_A #article1 {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
  body #populaires #droite .boxArticl #dernier_A #article2 {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
  body #populaires #droite .boxArticl #dernier_A #article3 {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
  body #populaires #droite .boxArticl #dernier_A img {
    width: 60vw;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  body #populaires #droite .boxArticl .gridarticle {
    -ms-grid-columns: 1fr 8fr 1fr;
        grid-template-columns: 1fr 8fr 1fr;
  }
  body #populaires #droite .boxArticl .gridarticle .articleImg {
    width: 60vw;
  }
  body #partenairicone {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: partenairicone;
    padding-top: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
  }
  body #partenairicone #Airlines {
    -ms-grid-column: 1;
        grid-column-start: 1;
    height: auto;
  }
  body #partenairicone #Company {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  body #partenairicone #Masters {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
}

/*
 	

                             ...----....
                         ..-:"''         ''"-..
                      .-'                      '-.
                    .'              .     .       '.
                  .'   .          .    .      .    .''.
                .'  .    .       .   .   .     .   . ..:.
              .' .   . .  .       .   .   ..  .   . ....::.
             ..   .   .      .  .    .     .  ..  . ....:IA.
            .:  .   .    .    .  .  .    .. .  .. .. ....:IA.
           .: .   .   ..   .    .     . . .. . ... ....:.:VHA.
           '..  .  .. .   .       .  . .. . .. . .....:.::IHHB.
          .:. .  . .  . .   .  .  . . . ...:.:... .......:HIHMM.
         .:.... .   . ."::"'.. .   .  . .:.:.:II;,. .. ..:IHIMMA
         ':.:..  ..::IHHHHHI::. . .  ...:.::::.,,,. . ....VIMMHM
        .:::I. .AHHHHHHHHHHAI::. .:...,:IIHHHHHHMMMHHL:. . VMMMM
       .:.:V.:IVHHHHHHHMHMHHH::..:" .:HIHHHHHHHHHHHHHMHHA. .VMMM.
       :..V.:IVHHHHHMMHHHHHHHB... . .:VPHHMHHHMMHHHHHHHHHAI.:VMMI
       ::V..:VIHHHHHHMMMHHHHHH. .   .I":IIMHHMMHHHHHHHHHHHAPI:WMM
       ::". .:.HHHHHHHHMMHHHHHI.  . .:..I:MHMMHHHHHHHHHMHV:':H:WM
       :: . :.::IIHHHHHHMMHHHHV  .ABA.:.:IMHMHMMMHMHHHHV:'. .IHWW
       '.  ..:..:.:IHHHHHMMHV" .AVMHMA.:.'VHMMMMHHHHHV:' .  :IHWV
        :.  .:...:".:.:TPP"   .AVMMHMMA.:. "VMMHHHP.:... .. :IVAI
       .:.   '... .:"'   .   ..HMMMHMMMA::. ."VHHI:::....  .:IHW'
       ...  .  . ..:IIPPIH: ..HMMMI.MMMV:I:.  .:ILLH:.. ...:I:IM
     : .   .'"' .:.V". .. .  :HMMM:IMMMI::I. ..:HHIIPPHI::'.P:HM.
     :.  .  .  .. ..:.. .    :AMMM IMMMM..:...:IV":T::I::.".:IHIMA
     'V:.. .. . .. .  .  .   'VMMV..VMMV :....:V:.:..:....::IHHHMH
       "IHH:.II:.. .:. .  . . . " :HB"" . . ..PI:.::.:::..:IHHMMV"
        :IP""HHII:.  .  .    . . .'V:. . . ..:IH:.:.::IHIHHMMMMM"
        :V:. VIMA:I..  .     .  . .. . .  .:.I:I:..:IHHHHMMHHMMM
        :"VI:.VWMA::. .:      .   .. .:. ..:.I::.:IVHHHMMMHMMMMI
        :."VIIHHMMA:.  .   .   .:  .:.. . .:.II:I:AMMMMMMHMMMMMI
        :..VIHIHMMMI...::.,:.,:!"I:!"I!"I!"V:AI:VAMMMMMMHMMMMMM'
        ':.:HIHIMHHA:"!!"I.:AXXXVVXXXXXXXA:."HPHIMMMMHHMHMMMMMV
          V:H:I:MA:W'I :AXXXIXII:IIIISSSSSSXXA.I.VMMMHMHMMMMMM
            'I::IVA ASSSSXSSSSBBSBMBSSSSSSBBMMMBS.VVMMHIMM'"'
             I:: VPAIMSSSSSSSSSBSSSMMBSSSBBMMMMXXI:MMHIMMI
            .I::. "H:XIIXBBMMMMMMMMMMMMMMMMMBXIXXMMPHIIMM'
            :::I.  ':XSSXXIIIIXSSBMBSSXXXIIIXXSMMAMI:.IMM
            :::I:.  .VSSSSSISISISSSBII:ISSSSBMMB:MI:..:MM
            ::.I:.  ':"SSSSSSSISISSXIIXSSSSBMMB:AHI:..MMM.
            ::.I:. . ..:"BBSSSSSSSSSSSSBBBMMMB:AHHI::.HMMI
            :..::.  . ..::":BBBBBSSBBBMMMB:MMMMHHII::IHHMI
            ':.I:... ....:IHHHHHMMMMMMMMMMMMMMMHHIIIIHMMV"
              "V:. ..:...:.IHHHMMMMMMMMMMMMMMMMHHHMHHMHP'
               ':. .:::.:.::III::IHHHHMMMMMHMHMMHHHHM"
                 "::....::.:::..:..::IIIIIHHHHMMMHHMV"
                   "::.::.. .. .  ...:::IIHHMMMMHMV"
                     "V::... . .I::IHHMMV"'
                       '"VHVHHHAHHHHMMV:"'

*/
/*# sourceMappingURL=style.css.map */